.media-scroller{
    --spacer:1rem;
    /* --spacer: var(--size-3); */
    display: grid;
    grid-auto-flow: column;
    gap: var(--spacer);
    grid-auto-columns: 23%;


    padding: 0 var(--spacer) var(--spacer);

    overflow-x: auto;
    overscroll-behavior-inline:contain ;
}
.media-element > img{
    inline-size: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}
.media-element {
    display: grid;
    grid-template-rows: min-content;
    padding: var(--spacer);
    background: var(--surface-2);
    border-radius:var(--radius-2);
    gap: var(--spacer);
    box-shadow: var(--shadow-2);
}